hr {
    width: 90%;
	border-top: 1px dashed #000;
    margin-top: 5%;
    margin-bottom: 5%
}
h1 {
    margin:0 auto;
    font-size: 2rem;
    display: flex;
	align-items: center;
    text-align: center;

}
.container {
    display: flex;
	flex-direction: column;
	justify-content: center;
    
    @media screen and (min-width: 700px) {
		width: 60%;
	}
    @media screen and (max-width: 699px) {
		width: 80%;
	}
    margin:0 auto;
    .author {
        text-align: right;
        color: rgb(33, 56, 70);
        font-size: 1.2rem;
        margin-right: 10%;
    }
    .article {
        display: flex;
	    flex-direction: column;
	    justify-content: center;
    }
}